[submodule "lib/example-liquidity-layer"]
    path = lib/example-liquidity-layer
    url = https://github.com/wormhole-foundation/example-liquidity-layer.git
    rev = 08e0d9435533f6c222503a7edd5137c097f660df
