[submodule "lib/example-liquidity-layer"]
    path = lib/example-liquidity-layer
    url = https://github.com/wormhole-foundation/example-liquidity-layer.git
    rev = 3b08683a977d21f937b411c824159f25f9635bd1
